@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


.swiper {
      width: 18rem;
      height: 20rem;
}
    
@media screen and (min-width: 425px){
      .swiper {
            width: 26rem;
            height: 18rem;
      }
}

@media screen and (min-width: 600px){
      .swiper {
            width: 36rem;
            height: 22rem;
      }
}

@media screen and (min-width: 960px){
      .swiper {
            width: 56rem;
      }
}

@media screen and (min-width: 1280px){
      .swiper {
            width: 80rem;
      }
}

.swiper-slide {
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
}

.css-v3ck7s-MuiStack-root{
      margin-top: 0rem !important;
}